name: KMP library compilation check

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  checkout:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
  Check Android:
    runs-on: self-hosted
      - name: Check Android
        run: ./gradlew :androidApp:build
  Check iOS:
    - steps:
      - name: Install Pods
        run: cd iosApp && pod install
      - name: Build
        run: cd iosApp && set -o pipefail && xcodebuild -scheme iosApp -workspace iosApp.xcworkspace -configuration Debug -sdk iphonesimulator -arch x86_64 build CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO | xcpretty
#  Lint:
#    - steps
#      - name: Detekt
#        run: ./gradlew :notifications:detektAll
