name: 'KMP library compilation check'

on:
  pull_request:
    branches:
      - 'main'
      - 'develop'

jobs:
  checkout:
    name: 'Check'
    runs-on: 'self-hosted'

    steps:
      - uses: actions/checkout@v3

      - name: 'Set up JDK 17'
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: 'Run checks with Gradle'
        run: './gradlew check --no-daemon'
