name: KMP library compilation check

on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  checkout:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Check Android
        run: ./gradlew :androidApp:build
      - name: Install Pods
        run: cd iosApp && pod install
      - name: Build
        run: cd iosApp && set -o pipefail && xcodebuild -scheme iosApp -workspace iosApp.xcworkspace -configuration Debug -sdk iphonesimulator -arch x86_64 build CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO | xcpretty
      - name: Detekt
        run: ./gradlew :notifications:detektAll
